@page "/language/{languaneName}"
@using System.Globalization
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<PageTitle>Language</PageTitle>

<h1>@LanguaneName</h1>

<div style="display: flex;">
    <div style="flex: 3;">
        @if (LanguaneName != "none")
        {
            <GameBase Game="@_game" DataSelectors="@_dataSelectors" StorageKey="@_localStorageKey" TableColumNnames="@_tableColumnNames" >
                <Content>
                    <td style="background-color:@context.Item2 ">
                        <img src="@(((ChosenlanguageStreamerData)context.streamerData).CategoryUrl)"
                             alt="@(((ChosenlanguageStreamerData)context.streamerData).MostStreamedCategory)" class="category-img">
                    </td>
                </Content>
            </GameBase>

        }
    </div>

    <ul style="flex: 1;">
        @foreach (var language in _languages)
        {
            <li><a href="/language/@language">@language</a></li>
        }
    </ul>

</div>

@code {
    [Parameter]
    public string LanguaneName { get; set; } = "none";

    private string _profilesUrl = "";

    private Game<ChosenlanguageStreamerData> _game;

    private string _localStorageKey;

    private readonly string[] _languages = [
        "English",
        "Spanish",
        "Russian",
        "French",
        "Portuguese",
        "German",
    ];

    private readonly string[] _tableColumnNames = { "Streamer", "Data1", "Data2", "Data3" };

    private readonly Func<Streamer, object>[] _dataSelectors = new Func<Streamer, object>[] 
    {
        streamer => streamer.Profile.Name,
        streamer => streamer.Data.IntData[0],
        streamer => streamer.Data.IntData[1],
        streamer => streamer.Data.IntData[2]
    };

    protected override void OnInitialized()
    {
        LanguaneName = NavigationManager.Uri.Split('/').Last();
        _profilesUrl = MainApiUrl + LanguageModeAccesUrl + LanguaneName;
        _localStorageKey = "/" + LanguageModeAccesUrl + LanguaneName + DateTime.Now.Date.ToString(CultureInfo.InvariantCulture);
        _game = new(_profilesUrl);
        StateHasChanged();
    }
}



 