@page "/Live"
@using System.Globalization

@rendermode InteractiveServer

<PageTitle>Twichle</PageTitle>

<GameBase Game="@_game" DataSelectors="@_dataSelectors" StorageKey="@_key" TableColumNnames="@_tableColumNnames" >
    <Content>
        <td style="background-color:@context.Item2 ">
            <img src="@(((MainModeStreamerData)context.streamerData).CategoryUrl)"
                 alt="@(((MainModeStreamerData)context.streamerData).MostStreamedCategory)" class="category-img">
        </td>
    </Content>
</GameBase>


@code {
    private readonly Game<MainModeStreamerData> _game = new(MainApiUrl + LiveModeAccesUrl);

    private readonly string _key = "/" + LiveModeAccesUrl + DateTime.Now.Date.ToString(CultureInfo.InvariantCulture);

    private readonly string[] _tableColumNnames = { "Streamer", "Language", "Data1", "Data2", "Data3" };

    private readonly Func<Streamer, object>[] _dataSelectors = new Func<Streamer, object>[]
    {
        streamer => streamer.Profile.Name,
        streamer => ((MainModeStreamerData)streamer.Data).Language,
        streamer => streamer.Data.IntData[0],
        streamer => streamer.Data.IntData[1],
        streamer => streamer.Data.IntData[2]
    };
}
