@inject HttpClient HttpClient
@inject LocalStorageHandler LocalStorageHandler
@inject IJSRuntime JSRuntime

@typeparam TStreamerDataType where TStreamerDataType : StreamerData

<div class="container">
    @if (!Game.AlreadyWon)
    {
        <InputBar PassChosenStreamer="AddStreamer" StreamerProfile="@Game.StreamerProfiles.ToArray()"/>
    }

    @if (_dataIsLoaded){
        <Table Streamers="@Game.ChosenStreamers" WinningStreamer="@_winningStreamer" @ref="_animateLastRow" ShowLastColumn="@ShowLastColumn"
               DataSelectors="@DataSelectors" ColumnNames="@TableColumNnames" StreamersCount="@_streamersCount">
            <LastColumn>
                    @Content?.Invoke((StreamerData)context)
            </LastColumn>
            
        </Table>
        
    }

    @if (Game.AlreadyWon)
    {
        <h1 class="border-text" style="font-size: 60px">YOU WON</h1>
        <NexEvTimer EndTime="@TimerEndTime"></NexEvTimer>
    }
</div>
@code {
    [Parameter]
    public Func<Streamer, object>[] DataSelectors { get; set; } = [];

    [Parameter]
    public Game<TStreamerDataType> Game { get; set; } = null!;

    [Parameter]
    public string StorageKey { get; set; } = ""; 

    [Parameter]
    public string[] TableColumNnames { get; set; } = [];
    
    [Parameter]
    public RenderFragment<StreamerData>? Content { get; set; }
    
    [Parameter] 
    public bool ShowLastColumn { get; set; } = true;
    
    [Parameter] 
    public DateTime TimerEndTime { get; set; }

    [Parameter] 
    public string? ResetFlag { get; set; } = null;

    private Table _animateLastRow = null!;
    
    private Streamer? _winningStreamer;

    private bool _alreadyWon = false;

    private bool _dataIsLoaded = false;

    private int _streamersCount = 0;
    
    private async Task MakeAnimation()
    {
        await _animateLastRow.ResetAnimation();
    }

    protected override async Task OnInitializedAsync()
    {
        if (Game is null)
        {
            throw new InvalidOperationException("Game is null.");
        }

        await Game.LoadStreamersProfilesAsync();
        _winningStreamer = await Game.GetWinningStreamer();

        Game.SetWinningFlag = SetWinningFlag;

        StateHasChanged();
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        if (await ResetLocalStorageAsync())
        {
            _dataIsLoaded = true;
            return;
        }
        
        await LoadStorageAsync();
        StateHasChanged();
    }

    private async Task<bool> ResetLocalStorageAsync()
    {
        ResetFlag  = ResetFlag  is null ? ResetFlagKey : ResetFlag;
        var resetFlagStatus = await LocalStorageHandler.GetValueAsync<string>(ResetFlag);
        if (resetFlagStatus is null)
        {
            return false;
        }

        if (ResetFlag.Equals(ResetFlagKey))
        {
            if (resetFlagStatus.Equals(DateTime.Today.ToString()))
            {
                return false;
            }
            
            var liveHistory = await LocalStorageHandler.GetValueAsync<string>("/LiveMode");
            await LocalStorageHandler.Clear();
            if (liveHistory is not null)
            {
               await LocalStorageHandler.SetValueAsync(StorageKey, liveHistory);
            }
        }
        else
        {   
            DateTime nextHour = DateTime.Today.AddHours(1); 
            nextHour = nextHour.AddMinutes(-nextHour.Minute);
            nextHour = nextHour.AddSeconds(-nextHour.Second);
            
            if (resetFlagStatus.Equals(nextHour.ToString()))
            {
                return false;
            }

            await LocalStorageHandler.RemoveAsync(ResetLiveFlagKey);
        }
        
        return true;
    }

    private async Task LoadStorageAsync()
    {
        string progresValue = await LocalStorageHandler.GetValueAsync<string>(StorageKey);
        _streamersCount = await Game.LoadLocStorageAsync(progresValue);
        _dataIsLoaded = true;
    }

    private async Task AddStreamer(int id)
    {
        var gameData = await Game.AddStreamer(id);
        _streamersCount = gameData.streamersCount;
        
        if (gameData.gameHistory != null)
        {
            await LocalStorageHandler.SetValueAsync(StorageKey, gameData.gameHistory);
        }
        StateHasChanged();

        await MakeAnimation();
    }

    private async Task SetWinningFlag()
    {
        ResetFlag  = ResetFlag  is null ? ResetFlagKey : ResetFlag;
        if (ResetFlag.Equals(ResetFlagKey))
        {
            await LocalStorageHandler.SetValueAsync(ResetFlag, DateTime.Today.ToString());
        }
        else
        {
            DateTime nextHour = DateTime.Today.AddHours(1); 
            nextHour = nextHour.AddMinutes(-nextHour.Minute);
            nextHour = nextHour.AddSeconds(-nextHour.Second);
            await LocalStorageHandler.SetValueAsync(ResetFlag, nextHour.ToString());
        }
    }

}